* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}
nav {
    display: flex;
    background-color: gray;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid black;
}
nav span.link {
    width: 10px;
    height: 10px;
    margin: 7px 0 10px 20px;
    background-color: black;
}
nav p {
    margin: 5px 5px 5px 10px;
}
nav ul.satu {
    display: flex;
    gap: 10px;
}
nav ul.satu li a {
    color: blue;
}
nav ul.dua {
    display: flex;
    margin: 0 20px 0 auto;
    gap: 10px;
}
div.atas {
    display: flex;
    margin: 30px 20px 30px 20px;
}
div.atas table.kiri {
    width: 75%;
}
div.atas table.kiri tr.icon img {
    width: 70%;
}
div.atas table.kiri tr.thank {
    font-weight: bold;
    font-size: larger;
}
div.atas table.kiri tr.line hr {
    border: 1px solid gray;
}
div.atas table.kiri tr td.order {
    padding: 15px 0;
}
div.atas table.kiri tr td.akhir {
    padding: 30px 0 0 0 
}
div.atas table.kiri tr td.akhir hr {
    border: 1px solid gray;
}
div.atas table.kanan {
    width: 25%;
    margin: 0 0 0 10px;
    padding: 10px 10px;
    background-color: gray;
}
div.atas table.kanan tr td.item {
    font-weight: bolder;
}
div.atas table.kanan tr td.sub {
    font-weight: bolder;
    text-align: end;
}
div.atas table.kanan tr td.linekiri hr {
    border: 1px solid beige;
}
div.tengah table.isi {
    margin: 10px 20px 30px 20px;
    width: 70%;
}

div.tengah table.isi tr.customer td {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: larger;
    
}
div.tengah table.isi tr.bold {
    font-weight: bold;
}
div.tengah table.isi tr td a {
    color: blue;
}
div.tengah table.isi tr.ship {
    font-weight: bold;
}
div.tengah table.isi tr.ship td {
    padding: 30px 0 0 0;
}
div.tengah table.isi tr.bank td img {
    width: 13px;
}
div.tengah table.isi tr td.bawah {
    padding: 30px 0 70px 0;
}
div.tengah table.isi tr td.bawah hr {
    border: 1px solid gray;
}
footer {
    background-color: white;
    width: 100%;
}
footer div.awal {
    display: flex;
    padding: 20px 0 5px 0;
    border-top: 2px solid black;
}
footer div.awal p{
    margin: 0 0 0 20px;
}
footer div.awal ul.category {
    display: flex;
    padding-left: 10px;
    gap: 10px;
}
footer div.awal ul.category li a {
    color: blue;
}
footer div.awal ul.stay {
    display: flex;
    margin: 0 20px 0 auto;
}
footer div.end {
    display: flex;
}
footer div.end ul.icon_bawah {
    display: flex;
    padding: 5px 15px;
    gap: 10px;
}
footer div.end ul.ujung {
    display: flex;
    margin: 0 20px 0 auto;
}
footer div.end ul.ujung li p {
    border: 1px solid black;
    width: 120px;
}
footer div.end ul.ujung li button {
    background-color: grey;
}
